*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --brand-color:#EF5F4C;
    --shape-transparency-color:#ffffff8f;
    --surface-color:#f5f5f5;
    --skeleton-color: #d9d9d9;
    --background-color:#ffffff;
    --text-color-primary:#313131;
    --text-color-secondary:#6c6c6c;
     /* fontes abaixo */
     --font-family:"Poppins", sans-serif;
     --text-lg:bold 32px/125% var(--font-family);
     --text:16px/1.5 var(--font-family);
     --text-md:14px/175% var(--font-family);
     --text-sm:12px/175% var(--font-family);
}